{% load staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="{% static 'sudoku/style.css' %}" />
<script type="text/javascript" src="{% static 'sudoku/js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sudoku/bootstrap/js/bootstrap.min.js' %}" /></script>
<script type="text/javascript" src="{% static 'sudoku/help.js' %}"></script>
<script type="text/javascript">
function test()
{
	window.alert("fuck!");
}
</script>
<!--
<link type="text/css" rel="stylesheet" href="{% static 'sudoku/bootstrap/css/bootstrap.min.css' %}" />
-->
<title>sudoku game</title>
</head>
<body>
<div id="sudoku_div">
	<div id="display_panel">
	<form action="/act/1/check/" id="form_check" method="post">
	{% csrf_token %}
		{# this is the sudoku 9*9 table #}
		<table name="sudoku" border="1">
			{% for i1 in question %}
			<tr>
				{% for j1 in i1 %}
				<td>
					<table class="ceiltable">
						{% for i2 in j1 %}
						<tr>
							{% for j2 in i2 %}
							{% autoescape off %}
							<td>{{ j2 }}</td>
							{% endautoescape %}
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</form>
	</div>
	<div id="control_panel">
	<form action="/act/1/play/" id="form_play" method="post" />
	{% csrf_token %}
		<p><label>time <input type="text" id="usetime"  readonly="readonly" value="0:0:0"/></label></p>
		<p>
		<label>difficulty
			<select name="level">		<!--use name instead of id here-->
				<option value="0" selected="selected">simple</option>
				<option value="1">normal</option>
				<option value="2">hard</option>
			</select>
		</label>
		</p>
		<p><input type="submit" value="start" /></p>
		<p><input type="button" value="check" onclick="form_check_submit()" /></p>
		<p><input type="button" value="answer" onclick="form_answer_submit()" /></p>
	</form>
	</div>
	<div id="message_pannel">
	<form action="/act/1/answer/" id="form_answer" method="post" />
	{% csrf_token %}
		<p>{{ message }}</p>
	</form>
	</div>
</div>
</body>
</html>

